html *
{
    color: #000 !important;
    font-family: Arial !important;
}

.container {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.grid_form {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    border: 2px solid #1c6cab;
    padding-top: 15px;
}

.grid {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    border: 2px solid #1c6cab;
    padding-top: 15px;
}

.grid2 {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    border: 2px solid #1c6cab;
    padding-top: 15px;
}

.grid > div {
    display: flex;
    flex-basis: calc(33.33% - 14px);
    /*justify-content: center;*/
    flex-direction: column;
}

.grid > div:first-child {
    display: flex;
    margin-top: 0px;
    flex-basis: 100%;
    flex-direction: column;
}

.grid > div > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.box { margin: 10px 0 10px 10px}

.box2 {
    display: flex;
    align-items: flex-start;
    margin: 10px 0 10px 10px
}

.title {
    margin: 0px 20px 0px 0px
}

.label1{
    margin-left: 20px;
    margin-right: 5px;
}

.label2{
    margin-left: 20px;
    margin-right: 5px;
}

.value{
    width: 50px;
}

.value2{
    width: 300px;
}